<li>
    <% if(user && user.id == comment.user.id){ %>
        <small>
            <a href="/comments/destroy/<%= comment.id%>">X</a>
        </small>
    <% } %>

    <div>
        <h4 style="margin: 0;">
            <%= comment.user.name %>
        </h4>
        <p style="margin: 0;">
            <%= comment.content %>
        </p>
    </div>
</li>