<footer>
    <div style="padding: 15px; display: flex;">
        <div>
            <div id="logo-name">
                <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/medium-m-2-logo.png" width="80" alt="">
                <h1>Codeial</h1>
            </div>
            <div id="copyright">
                <p>Copyright &copy; All Right Reserved</p>
            </div>
        </div>
        <div id="home-profile-footer" style="margin-top: 15px;">
            <p>
                <a href="/">Home</a>
            </p>
            <!-- <p>
                <a href="/users/profile">Profile</a>
            </p> -->
        </div>
    </div>
</footer>