<link rel="stylesheet" href="/css/forgot_password.css">

<!-- after clicking the forgot password this page will open -->
<div id="forgot-password-page">
    <div id="forgot-password-container">
        <h4>Forgot Password</h4>
        <p>Enter your email address</p>

        <!-- after filling this form,check in db if user exist then send email with reset link-->
        <form action="/users/send-password-link" method="post">
            <div>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
                <input type="submit" value="Forgot Password">
            </div>
        </form>
    </div>
</div>
