<link rel="stylesheet" href="/css/forgot_password.css">

<div id="forgot-password-page">
    <div id="forgot-password-container">
        <h4>Forgot Password</h4>
        <p>Enter your email address</p>
        <form action="/users/send-password-link" method="post">
            <div>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
                <input type="submit" value="Forgot Password">
            </div>
        </form>
    </div>
</div>
