<link rel="stylesheet" href="/css/home.css">

<div id="main-container">
    <section id="feed-posts">
    
        <% if(user){%>
    
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Text Area..." required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
    
        <div id="posts-list-controller">
            <ul>
                <% for (post of posts){%>
                   
                    <%- include('_post'); %>
                   
                <%}%>
            </ul>
        </div>
        
    </section>
    
    <section id="user-friends">
    
        <!-- <% if (user){ %> -->
            <h4>Friends</h4>
                <% for (user of all_users){%>
                    <p>
                        <a href="/users/profile/<%= user.id%>">
                            <%= user.name%>
                        </a>
                    </p>
                <% } %>
                    
        <!-- <% } %> -->
    </section>
    
</div>




