<link rel="stylesheet" href="/css/forgot_password.css">
<link rel="stylesheet" href="/css/new_password.css">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">

<!-- if userData isvalid is true then show this form -->
<% if(userData.isValid == true){ %>
    <div id="new-pwd-pg">
        <div id="new-pwd-cntr">
            <div id="new-pwd-fm">
                <div id="pass">
                    <img src="https://thumbs.dreamstime.com/b/change-password-now-type-message-sticky-note-computer-keyboard-bunch-paper-change-password-now-type-message-186896941.jpg"  alt="">
                </div>
                <h4>New Password</h4>
                <p class="hgl-cl">Please create new password</p>

                <form action="/users/update-password?id=<%= userData._id%>&user=<%=userData.user%>" method="post">
                    <div>
                        <i class="fa-solid fa-lock"><input type="password" name="password" placeholder="Enter your new password" required></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-lock"><input type="password" name="confirm_password" placeholder="Confirm new password" required></i>
                    </div>
                    <div>
                        <input type="submit" value="New Password">
                    </div>
                </form>
            </div>
        
            <div id="new-pwd-bg">
                <div>
                    <p class="font-pg">Codeial</p>
                    <h4>Hello Friend</h4>
                    <p class="font-pg font-mt mg">Enter your new password</p>
                    <p class="font-pg mg">And Start journery with Codeial</p>
                    <!-- <p class="font-pg">Already registered in Codeial</p> -->
                </div>
                <img src="https://www.martechcube.com/wp-content/uploads/2021/08/Digital-Marketing.jpg" width="100%" alt="">
            </div>
        </div>
    </div>
<% }else{ %>
    <!-- if userData isValid is false then show this form -->
    <div id="forgot-password-page">
        <div id="forgot-password-container">
            <div id="forgot-bg">
                <div>
                    <p id="wb-name">Codeial</p>
                    <h4>Hello Friend</h4>
                    <p class="font-pg font-mt">Enter your personal email</p>
                    <p class="font-pg">Already registered in Codeial</p>
                </div>
                <img src="https://www.martechcube.com/wp-content/uploads/2021/08/Digital-Marketing.jpg" width="100%" alt="">
            </div>
            
            <div id="forgot-password-form" >
                <h4 class="text-ct">Forgot Password</h4>
                <p class="text-ct hg-lt-cl">Enter your email address</p>
    
                <!-- after filling this form,check in db if user exist then send email with reset link-->
                <form action="/users/send-password-link" method="post" class="email-fm">
                    <div style="width: 70%; margin: auto;">
                        <i class="fa-solid fa-envelope">
                            <input type="email" name="email" placeholder="Enter your email" required>
                        </i>
                    </div>
                    <div class="text-ct">
                        <input type="submit" value="Forgot Password" >
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<% } %>

