<link rel="stylesheet" href="/css/forgot_password.css">

<!-- if userData isvalid is true then show this form -->
<% if(userData.isValid == true){ %>
    <div id="forgot-password-page">
        <div id="forgot-password-container">
            <h4>New Password</h4>
            <p>Please create new password</p>
            <form action="/users/update-password?id=<%= userData._id%>" method="post">
                <div>
                    <input type="password" name="password" placeholder="Enter your new password" required>
                </div>
                <div>
                    <input type="password" name="confirm_password" placeholder="Confirm new password" required>
                </div>
                <div>
                    <input type="submit" value="New Password">
                </div>
            </form>
        </div>
    </div>
<% }else{ %>
    <!-- if userData isValid is false then show this form -->
    <div id="forgot-password-page">
        <div id="forgot-password-container">
            <h4>Forgot Password</h4>
            <p>Enter your email address</p>
            <form action="/users/send-password-link" method="post">
                <div>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>
                <div>
                    <input type="submit" value="Forgot Password">
                </div>
            </form>
        </div>
    </div>
    
<% } %>

