<link rel="stylesheet" href="<%= assetPath('css/user_sign_up.css') %>">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">


<div id="sign-up-container">
    <div id="sign-up-page">
        <div id="img-container">
            <div>
                <p>Codeial</p>
                <h1>Codeial is the Social Media Website</h1>
            </div>
            <img src="https://student.ekidenglish.edu.vn/assets/image/img_login.png"width= '100%' alt="Codeial-logo" style="margin-top: 28px;">
        </div>
        <div id="sign-up-form">
            <h2>Sign Up To Codeial</h2>
            <div id="authenticate">
                <h3>
                    <a class="google" href="/users/auth/google">
                        <div style="margin-top: 5px;">
                            <img src="https://www.fintechfutures.com/files/2016/03/google.png" width="20" alt="google+">
                        </div>
                        <div class="text">Contiue with Google</div>
                    </a>
                </h3>
            </div>

            <form action="/users/create" method="POST" id="sign-up">
                <div>
                    <p>Username</p>
                    <p class="border-bottom"></p>
                    <i class="fa-solid fa-user"><input type="name" name="name" placeholder="Type your name" required></i>
                </div>

                <div>
                    <p>Email Address</p>
                    <p class="border-bottom"></p>
                    <i class="fa-solid fa-envelope"><input type="email" name="email" placeholder="Type your email" required></i>
                </div>

                <div>
                    <p>Password</p>
                    <p class="border-bottom"></p>
                    <i class="fa-solid fa-lock"><input type="password" name="password" placeholder="Create your password" required></i>
                </div>
                
                <div>
                    <p>Confirm Password</p>
                    <p class="border-bottom"></p>
                    <i class="fa-solid fa-lock"><input type="password" name="confirm_password" placeholder="Type your password" required></i>
                </div>
                
                <input type="submit" value="Create account" id="btn">
            </form>

        </div>
    </div>
</div>
