<link rel="stylesheet" href="/css/user_sign_up.css">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">


<div id="sign-up-container">
    <div id="sign-up-page">
        <div id="img-container">
            <div>
                <p>Codeial</p>
                <h1>Codeial is the Social Media Website</h1>
            </div>
            <img src="https://student.ekidenglish.edu.vn/assets/image/img_login.png"width= '100%' alt="">
        </div>
        <div id="sign-up-form">
            <h2>Sign Up To Codeial</h2>
            <div style="display: flex;">
                <p>
                    <a class="google" href="/users/auth/google">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <!-- <a href="/users/auth/google">Google sign-up/sign-in</a> -->
                </p>
                <p>
                    <a class="facebook" href="/users/auth/facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </p>
            </div>
            <form action="/users/create" method="POST">
                <div>
                    <h4>Name</h4>
                    <input type="name" name="name" required>
                </div>

                <div>
                    <h4>Email Address</h4>
                    <input type="email" name="email" required>
                </div>

                <div>
                    <h4>Password</h4>
                    <input type="password" name="password" required>
                </div>
                
                <div>
                    <h4>Confirm Password</h4>
                    <input type="password" name="confirm_password" required>
                </div>
                
                <input type="submit" value="Sign Up" id="btn">
            </form>
        </div>
    </div>
</div>
