<link rel="stylesheet" href="/css/user_sign_in.css">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">

<div id="sign-in-page">
    <div id="sign-in-container">
        <div id="sign-in-form">
            <h1>Sign In To Codeial</h1>

            <div id="authentication" style="display: flex;">
                <p>
                    <a class="google" href="/users/auth/google">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <!-- <a href="/users/auth/google">Google sign-up/sign-in</a> -->
                </p>
                <p>
                    <a class="facebook" href="/users/auth/facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </p>
            </div>

            <form action="/users/create-session" method="post" id="sign-in">
                <div>
                    <h4>Email Address</h4>
                    <input type="email" name="email" placeholder="Your Email" required>
                </div>
                
                <div>
                    <h4>Password</h4>
                    <input type="password" name="password" placeholder="Password"  required>
                </div>
                <div>
                    <a href="/users/reset-password">Forgot Password</a>
                </div>

                <input type="submit" value="Sign In" id="btn"></input>
            </form>
        </div>
        
        <div id="sign-in-container-box">
            <div id="content">
                <p>Codeial</p>
                <h1>
                    Welcome To The Codeial Website 
                </h1>
            </div>
            <div style="height: 350px;" id="img-container">
                <!-- <img src="https://media.istockphoto.com/photos/social-network-picture-id1219854233?b=1&k=20&m=1219854233&s=170667a&w=0&h=8rk8tkK4o6cwV7a8S_RXzYSNvB2WvLATt1K5wc3G0oA=" width="100%" height="300px" alt=""> -->
                <img src="https://student.ekidenglish.edu.vn/assets/image/img_login.png" width="100%" alt="">
            </div>
        </div>
    </div>
</div>

