footer{
    background-color: #0A2541;
    color: #ffffff;
    display: flex;
    width: 100%;
    position: sticky;

    #logo-name{
        display: flex;
        h1{
            margin: 0;
            padding: 15px 10px;
        }
    }
    p{
        margin: 2px;
    }
    #home-profile-footer{
        font-size: 19px;
        margin-top: 10px;
        margin-left: 50px;
        p{
            padding: 5px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }

}