header{
    // height: 60px;
    background-color: midnightblue;
    display: flex;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    z-index: 1;
    h1{
        margin: 0;
        // width: 80%;
    }
    .home{
        margin-top: 3px;
        padding-right: 10px;
        font-size: 18px;
    }
    ul{
        list-style: none;
        font-size: 20px;
        padding-right: 10px;
        margin: 4px;
        // width: 17%;
        display: flex;
        li{
            padding: 0px 10px; 
        }
        .li{
            padding: 0px 10px;
        }
        .li:nth-child(2n+1){
            border-right: 2px solid lightgreen;
        }
        .userIcon{
            img{
                border-radius: 50%;
            }
        }
        a{
            text-decoration: none;
            color: white;
        }

    }

}