#main-container{
    display: flex;
    background-color: #F0F2F5;
    padding: 20px;
    justify-content: space-between;
    #user-profile{
        width: 20%;
        padding: 15px 20px 20px;
        // border-right: 1px solid gray;
        div{
            p{
                padding-left: 10px;
                // font-weight: bold;
            }
        }
        #friends-container::-webkit-scrollbar{
            width: 8px;
        }

        /* Track - whether this scrollbar is scroll*/
        #friends-container::-webkit-scrollbar-track{
            box-shadow: inset 0 0 5px gray;
            border-radius: 8px;
        }

        /* Handle - scrollbar inside thumb scrolling*/
        #friends-container::-webkit-scrollbar-thumb{
            background-color: gray;
            border-radius: 10px;
        }
        
        #friends-container{
            height: 65vh;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            .user-friend{
                display: flex;
                margin:  10px 0px;
                a{
                    text-decoration: none;
                    color: black;
                }
                img{
                    border-radius: 50%;
                }
                p{
                    margin-left: 10px;
                }
            }
        }
        #friends-container:hover{
            overflow-y: auto;
        }
    }
    #feed-posts::-webkit-scrollbar{
        display: none;
    }
    #feed-posts{
        width: 45%;
        padding: 10px 40px;
        border-radius: 20px;
        // overflow-y: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* hide scrollbar but allow scrolling */
        -ms-overflow-style: none;
        scrollbar-width: none; 
        overflow-y: scroll; 
        .form{
            background-color: white;
            padding: 10px 20px;
            border-radius: 10px;
            display: flex;
            img{
                border-radius: 50%;
            }
        }
        #new-post-form{
            padding-top: 15px;
            margin-left: 5px;
            textarea{
                background-color: lightgray;
                resize: none;
                border: 0;
                border-radius: 20px;
                padding: 10px 20px;
                font-size: 17px;
                margin: 0px auto;
            }
            textarea:focus{
                outline: none;
            }
            input[type= submit]{
                border: 0;
                background-color: #191970;
                color: white;
                padding: 9px;
                border-radius: 25px;
                font-size: 16px;
                width: 60px;
                cursor: pointer;
                position: relative;
                top: -13px;
            }
        }
        #posts-list-controller{
            ul{
                margin: 0;
                list-style: none;
                .post-container{
                    padding: 5px 20px;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    .dlt-btn-cntnr{
                        img{
                            border-radius: 50%;
                        }
                        small{
                            margin-top: 14px;
                        }
                        
                        p{
                            margin: 14px 8px 6px;
                        }
                    }
                    .post-comments{
                        img{
                            border-radius: 50%;
                        }
                    }
                    .like-comment-box{
                        .post-like{
                            color: gray;
                        }
                    }
                    .border-lk-cmt{
                        display: flex; 
                        padding: 3px 0px; 
                        // border-bottom: 1px solid gray; 
                        border-top: 1px solid gray;
                        color: gray;
                        justify-content: space-around;
                        .toggle-like-button{
                            display: flex;
                            text-decoration: none;
                            color: gray;
                        }
                        
                        .comment-btn{
                            cursor: pointer;
                        }
                    }
                    p{
                        margin: 8px;
                    }
                    .color{
                        color: #FFFFFF;  
                        background-color: midnightblue;
                        border-radius: 50%;
                        font-size: 10px;
                        padding: 4px;
                    }
                }
            }
        }
        .post-comments{
            // margin: 10px 0px;
            // width: 122%;
            padding-left: 10px;
            border-top: 1px solid gray;
            // display: none;
            .img-container{
                margin-top: 10px;
            }
            .comments-form{
                // display: flex;
                width: 93%;
                padding: 14px 0px 0px 5px;
                form{
                    input[type =text]{
                        border: 0;
                        background-color: #d5dbe4;
                        padding: 8px 12px;
                        border-radius: 20px;
                        width: 80%;
                    }
                    input:focus{
                        outline: none;
                    }
                    input[type = submit]{
                        border: 0;
                        background-color: #1A4CFF;
                        color: white;
                        padding: 6px 12px;
                        border-radius: 15px;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
            .color{
                color: #FFFFFF;  
                background-color: midnightblue;
                border-radius: 50%;
                font-size: 10px;
                padding: 4px;
            } 
            
        }
        .post-comments-list{
            ul{
                list-style: none;
            }
            .comment-details{
                margin: 10px 5px;
                display: inline-block;
                background-color: lightgray;
                padding: 10px 15px;
                border-radius: 6px;
                // width: 90px;
            }
            .cmt-clr{
                text-decoration: none;
                color: gray;
                font-weight: 700;
                font-size: 14px;
                margin-right: 14px;
            }
            .comment-like{
                color: gray;
            }

        }
    }
      
    #user-friends{
        width: 22%;
        // height: 100vh;
        // padding: 10px;

        /* width */
        
        #user-container::-webkit-scrollbar{
            width: 8px;
        }

        /* Track - whether this scrollbar is scroll*/
        #user-container::-webkit-scrollbar-track{
            box-shadow: inset 0 0 5px gray;
            border-radius: 8px;
        }

        /* Handle - scrollbar inside thumb scrolling*/
        #user-container::-webkit-scrollbar-thumb{
            background-color: gray;
            border-radius: 10px;
        }
        
        #user-container{
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            height: 77vh;
            div{
                display: flex;
                margin: 10px 5px;
                img{
                    border-radius: 50%;
                }
                p{
                    margin-left: 5px;
                }
            }
        }
        #user-container:hover{
            overflow-y: auto;
        } 
       
        
        a{
            text-decoration: none;
            // color: darkblue;
            color: black;
        }
    }
}
