#new-pwd-pg{
    padding: 20px;
    background: linear-gradient(to right, #D99BD9, #EFC98F);
    #new-pwd-cntr{
        width: 75%;
        background-color: white;
        display: flex;
        margin: auto;
        border-radius: 20px;
        #new-pwd-fm{
            width: 40%;
            text-align: center;
            margin: auto;
            .hgl-cl{
                background-color: #C668ED;
                padding: 5px;
                border-radius: 29px 29px 0px 0px;
                margin-bottom: 40px;
                color: white;
            }
            div{
                margin: 20px 0px;
                i{
                    color: #C668ED;
                    border-bottom: 1px solid gray;
                    input{
                        border: 0;
                        padding: 6px 10px;
                        width: 235px;
                    }
                    input:focus{
                        outline: none;
                    }
                }
                input[type= submit]{
                    background-color: #C668ED;
                    border: 0;
                    color: white;
                    padding: 7px;
                    width: 160px;
                    border-radius: 18px;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
        #new-pwd-bg{
            text-align: center;
            width: 50%;
            background-color: #C4E3F7;
            border-radius: 0px 20px;
            div{
                h4{
                    background-color: #C668ED;
                    border-radius: 20px;
                    width: 100px;
                    color: white;
                    margin: auto;
                    padding: 10px;
                    margin-top: 35px;
                }
                .font-pg{
                    font-family: 'Pacifico', cursive;
                }
            }
            img{
                margin-top: 40px;
            }
        }
    }
}

// else showing this forgot password page
#forgot-password-page{
    padding: 20px;
    background: linear-gradient(to right, #D99BD9, #EFC98F);
    #forgot-password-container{
        width: 70%;
        margin: auto;
        border-radius: 20px;
        display: flex;
        background-color: white;
        #forgot-bg{
            // background: linear-gradient(to right,#78C5D5, #90C47A);
            background-color: #C4E3F7;
            width: 53%;
            border-radius: 20px;
            div{
                margin: 10px;
                padding: 20px;
                #wb-name{
                    font-family: 'Pacifico', cursive;
                }
                h4{
                    text-align: center;
                    width: 125px;
                    margin: auto;
                    padding: 10px;
                    border-radius: 25px;
                    color: white;
                    background-color: #C467EC;
                    margin-top: 45px;
                }
                p{
                    text-align: center;
                    margin: 0;
                }
                .font-mt{
                    margin: 20px 0px 0px;
                }
                .font-pg{
                    font-family: 'Pacifico', cursive;
                }
            }
            img{
                margin-top: 20px;
                border-radius: 20px;
            }
        }
        #forgot-password-form{
            width: 40%;
            background-color: white;
            padding: 20px;
            // text-align: center;
            margin: auto;
            .text-ct{
                text-align: center;
            }
            .hg-lt-cl{
                background-color: #C4E3F7;
                padding: 5px 0px;
                border-radius: 20px 20px 0px 0px;
            }
            form{
                margin-top: 30px;
                div{
                    margin: 20px 0px;
                    i{
                        border-bottom: 1px solid gray;
                        color: #CD6BF2;
                        input[type= email]{
                            font-size: 17px;
                            width: 79%;
                            padding: 0px 8px;
                            border: 0;
                        }
                        input:focus{
                            outline: none;
                        }
                    }
                    input[type=submit]{
                        background-color: #CD6BF2;
                        border: 0;
                        padding: 10px 20px;
                        color: white;
                        font-size: 16px;
                        border-radius: 20px;
                    }
                }
            }
        } 
    }
}
