#sign-up-container{
    background: linear-gradient(to right, #EFC98F,#D99BD9);
    // height: 87%;
    // margin-top: -6%;
    // padding-top: 6%;
    padding: 20px;
    padding-bottom: 20px;
    #sign-up-page{
        display: flex; 
        width: 75%; 
        margin: auto; 
        background-color: white;
        border-radius: 10px;
        #img-container{
            width: 36%;
            background-color: #F4D184;
            border-radius: 10px 0px 0px 10px;
            padding: 2px;
            div{
                margin-left: 20px;
            }
            p{
                font-family: 'Pacifico', cursive;
            }
        }
        #sign-up-form{
            width: 50%; 
            margin: auto;
            padding: 30px 0px;
            padding-left: 15%;
            h2{
                margin-top: 4px;
            }
            #authenticate{
                display: flex;
                width: 80%;
                margin: auto;
                p{
                    margin: 5px;
                }
                .google{
                    background-color: #e00a0a;
                }
                .facebook{
                    background-color: #183153;
                    i{
                        padding: 0px 3px;
                    }
                }
                a{  
                    padding: 10px;
                    color: white;
                    margin-right: 30px;
                    border-radius: 50%;
                }
            }
            #sign-up{
                div{
                    margin: 25px 0px;
                    .border-bottom{
                        width: 29px; 
                        border: 1px solid #D94DF4; 
                        // border-radius: 5px; 
                        margin: -5px 0px 12px;
                    }
                    i{
                        border-bottom: 1px solid gray;
                        color: #D94DF4;
                    }
                    input{
                        width: 300px;
                        border: 0;
                        // background-color: #e4e9ed;
                        font-size: 15px;
                        padding: 8px;
                        // border-radius: 5px;
                    }
                    input:focus{
                        outline: none;
                    }
                    p{
                        margin: 8px 0px;
                        color: gray;
                    }
                }
            }
               
            #btn{
                width: 275px;
                color: white;
                background: linear-gradient(to left, #E440F6, #71C4E1);
                margin-left: 12px;
                border: 0;
                font-size: 16px;
                padding: 7px;
                border-radius: 20px;
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
}


