#sign-in-page{
    height: 100%;
    margin-top: -6%;
    padding-top: 6%;
    background: linear-gradient(to right,#D99BD9, #EFC98F);
    
}
#sign-in-container{
    width: 70%;
    margin: auto;
    display: flex;
    background-color: white;
    border-radius: 10px;
    #sign-in-form{
        width: 50%;
        margin: auto;
        padding-left: 10%;
        .google{
            background-color: red;
        }
        .facebook{
            background-color: #183153;
            i{
                padding: 0px 3px;
            }
        }
        a{  
            padding: 10px;
            color: white;
            margin: 10px;
            border-radius: 50%;
            box-shadow: 0px 0px 4px 1px grey;
        }
        div{
            margin: 25px 0px;
            h4{
                margin: 8px;
            }
            input{
                width: 70%;
                border: 0;
                background-color: #e4e9ed;
                font-size: 15px;
                padding: 8px;
                border-radius: 5px;
            }
            input:focus{
                outline: none;
            }
        }
        #btn{
            width: 100px;
            color: white;
            font-weight: bold;
            background-color: #e91e63;
            margin-top: 10px;
            border: 0;
            font-size: 16px;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;
        }

    }
    #sign-in-container-box{
        width: 40%;
        // background-color: #FF435F;
        // background-color: #B3DEE7;
        background-color: #F4D184;
        color: black;
        border-radius: 0px 10px 10px 0px;
        padding: 2px;
        #content{
            padding: 20px 30px 10px;
            margin: 0;
            h1{
                text-align: center;
            }
            p{
                padding-left: 30px;
                font-family: 'Pacifico', cursive;
            }
        }
        #img-container{
            // border-radius: 10px;
            img{
                height: inherit;
            }
        }
    }
}