
<div style="width: 75%; margin: auto; background-color: #F1F1F1; border-radius: 20px;">

    <div style="display: flex; background-color: midnightblue; color: white; padding: 0px 15px; border-radius: 20px 20px 0px 0px;">
        <h1>Codeial</h1>
    </div>

    <div style="padding: 20px;">
        <p>Hi <%= comment.user.name%>!</p>
        <br>
        <p>Your comment <strong style="color: #4d4dff;"><%= comment.content%></strong> just got published on Codeial</p>
        <br>
        <p>Hopefully are you enjoying the website</p>
        <p>Thanks!</p>
    </div>

    <hr>
    <div style="text-align: center; padding: 20px">
        <p>&copy; Codeial.in</p>
        <small>This email was sent to <%= comment.user.email%></small><br>
        <small>You recieve the email because you registered with Codeial</small>
    </div> 
    
</div>

