#chat-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 23%;
  background-color: #ffffff;
  height: 60%;
  border-radius: 20px 20px 0px 0px; }
  #chat-container #chat-box h3 {
    border-radius: 20px 20px 0px 0px;
    padding: 10px 5px;
    background-color: midnightblue;
    color: white;
    margin: 0;
    text-align: center; }
  #chat-container #chat-box .chat div {
    margin: 5px 0px; }
    #chat-container #chat-box .chat div p {
      margin: 0; }
  #chat-container #chat-box .chat div:nth-child(2n) {
    background-color: lightgray;
    padding: 5px;
    float: right; }
  #chat-container #chat-box .chat div:nth-child(2n+1) {
    background-color: aliceblue;
    padding: 5px;
    float: left; }
  #chat-container #chat-box .input-field {
    position: fixed;
    width: 290px;
    bottom: 0;
    background-color: #D3D3D3;
    padding: 6px 10px; }
    #chat-container #chat-box .input-field input[type=text] {
      background-color: #F0F2F5;
      border: 0;
      padding: 10px;
      border-radius: 20px;
      width: 73%; }
    #chat-container #chat-box .input-field input:focus {
      outline: none; }
    #chat-container #chat-box .input-field input[type=submit] {
      border: 0;
      background-color: midnightblue;
      color: white;
      padding: 8px;
      border-radius: 20px;
      width: 70px; }
