#forgot-password-page {
  padding: 20px;
  background: linear-gradient(to right, #D99BD9, #EFC98F); }
  #forgot-password-page #forgot-password-container {
    width: 30%;
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px; }
    #forgot-password-page #forgot-password-container div {
      margin: 20px 0px; }
    #forgot-password-page #forgot-password-container input[type=email] {
      font-size: 17px;
      width: 79%;
      padding: 6px;
      border: 1px solid gray;
      border-radius: 6px;
      background-color: #E8F0FE; }
    #forgot-password-page #forgot-password-container input:focus {
      outline: none; }
    #forgot-password-page #forgot-password-container input[type=submit] {
      background-color: #6665ED;
      border: 0;
      padding: 10px;
      color: white;
      font-size: 16px;
      border-radius: 10px; }
    #forgot-password-page #forgot-password-container input[type=password] {
      font-size: 17px;
      width: 79%;
      padding: 6px;
      border: 1px solid gray;
      border-radius: 6px;
      background-color: #E8F0FE; }
