#main-container {
  display: flex;
  background-color: #F0F2F5;
  padding: 20px; }
  #main-container #user-profile {
    width: 20%;
    padding: 15px 20px 20px; }
    #main-container #user-profile div p {
      padding-left: 10px;
      font-weight: bold; }
  #main-container #feed-posts {
    width: 40%;
    padding: 10px 40px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px; }
    #main-container #feed-posts #new-post-form textarea {
      background-color: lightgray;
      resize: none;
      border: 0;
      border-radius: 20px;
      padding: 15px 20px 5px;
      font-size: 17px;
      margin: 0px auto; }
    #main-container #feed-posts #new-post-form textarea:focus {
      outline: none; }
    #main-container #feed-posts #new-post-form input[type=submit] {
      border: 0;
      background-color: #191970;
      color: white;
      padding: 8px;
      border-radius: 10px;
      font-size: 16px;
      width: 60px;
      cursor: pointer; }
    #main-container #feed-posts #posts-list-controller ul li div img {
      border-radius: 50%; }
    #main-container #feed-posts #posts-list-controller ul li div small {
      margin-top: 14px; }
    #main-container #feed-posts #posts-list-controller ul li div p {
      margin: 14px 8px 6px; }
    #main-container #feed-posts #posts-list-controller ul li p {
      margin: 8px; }
    #main-container #feed-posts .post-comments {
      margin: 10px 0px; }
      #main-container #feed-posts .post-comments form input[type=text] {
        border: 0;
        background-color: #d5dbe4;
        padding: 8px 12px;
        border-radius: 20px;
        width: 60%; }
      #main-container #feed-posts .post-comments form input:focus {
        outline: none; }
      #main-container #feed-posts .post-comments form input[type=submit] {
        border: 0;
        background-color: #1A4CFF;
        color: white;
        padding: 8px 12px;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer; }
    #main-container #feed-posts .post-comments-list ul {
      list-style: none; }
    #main-container #feed-posts .post-comments-list .comment-details {
      margin: 10px 5px;
      display: inline-block;
      background-color: lightgray;
      padding: 10px 15px;
      border-radius: 6px; }
  #main-container #user-friends {
    width: 20%;
    padding: 10px; }
    #main-container #user-friends div {
      display: flex;
      margin: 10px 5px; }
      #main-container #user-friends div img {
        border-radius: 50%; }
      #main-container #user-friends div p {
        margin-left: 5px; }
    #main-container #user-friends a {
      text-decoration: none;
      color: black; }
