#main-container {
  display: flex; }
  #main-container #feed-posts {
    width: 75%;
    padding: 10px; }
    #main-container #feed-posts .post-comments-list ul {
      list-style: none; }
    #main-container #feed-posts .post-comments-list div {
      margin: 10px 5px;
      display: inline-block;
      background-color: lightgray;
      padding: 10px 15px;
      border-radius: 6px; }
  #main-container #user-friends {
    width: 25%;
    padding: 10px;
    border-left: 1px solid gray; }
