#main-container {
  display: flex;
  background-color: #F0F2F5;
  padding: 20px;
  justify-content: space-between; }
  #main-container #user-profile {
    width: 20%;
    padding: 15px 20px 20px; }
    #main-container #user-profile div p {
      padding-left: 10px;
      font-weight: bold; }
  #main-container #feed-posts::-webkit-scrollbar {
    display: none; }
  #main-container #feed-posts {
    width: 45%;
    padding: 10px 40px;
    border-radius: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; }
    #main-container #feed-posts .form {
      background-color: white;
      padding: 10px 20px;
      border-radius: 10px;
      display: flex; }
      #main-container #feed-posts .form img {
        border-radius: 50%; }
    #main-container #feed-posts #new-post-form {
      padding-top: 15px;
      margin-left: 5px; }
      #main-container #feed-posts #new-post-form textarea {
        background-color: lightgray;
        resize: none;
        border: 0;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 17px;
        margin: 0px auto; }
      #main-container #feed-posts #new-post-form textarea:focus {
        outline: none; }
      #main-container #feed-posts #new-post-form input[type=submit] {
        border: 0;
        background-color: #191970;
        color: white;
        padding: 9px;
        border-radius: 25px;
        font-size: 16px;
        width: 60px;
        cursor: pointer;
        position: relative;
        top: -13px; }
    #main-container #feed-posts #posts-list-controller ul {
      margin: 0;
      list-style: none; }
      #main-container #feed-posts #posts-list-controller ul .post-container {
        padding: 5px 20px;
        background-color: #FFFFFF;
        border-radius: 10px; }
        #main-container #feed-posts #posts-list-controller ul .post-container .dlt-btn-cntnr img {
          border-radius: 50%; }
        #main-container #feed-posts #posts-list-controller ul .post-container .dlt-btn-cntnr small {
          margin-top: 14px; }
        #main-container #feed-posts #posts-list-controller ul .post-container .dlt-btn-cntnr p {
          margin: 14px 8px 6px; }
        #main-container #feed-posts #posts-list-controller ul .post-container .post-comments img {
          border-radius: 50%; }
        #main-container #feed-posts #posts-list-controller ul .post-container .like-comment-box .post-like {
          color: gray; }
        #main-container #feed-posts #posts-list-controller ul .post-container .border-lk-cmt {
          display: flex;
          padding: 3px 0px;
          border-top: 1px solid gray;
          color: gray;
          justify-content: space-around; }
          #main-container #feed-posts #posts-list-controller ul .post-container .border-lk-cmt .toggle-like-button {
            display: flex;
            text-decoration: none;
            color: gray; }
          #main-container #feed-posts #posts-list-controller ul .post-container .border-lk-cmt .comment-btn {
            cursor: pointer; }
        #main-container #feed-posts #posts-list-controller ul .post-container p {
          margin: 8px; }
        #main-container #feed-posts #posts-list-controller ul .post-container .color {
          color: #FFFFFF;
          background-color: midnightblue;
          border-radius: 50%;
          font-size: 10px;
          padding: 4px; }
    #main-container #feed-posts .post-comments {
      padding-left: 10px;
      border-top: 1px solid gray; }
      #main-container #feed-posts .post-comments .img-container {
        margin-top: 10px; }
      #main-container #feed-posts .post-comments .comments-form {
        width: 93%;
        padding: 14px 0px 0px 5px; }
        #main-container #feed-posts .post-comments .comments-form form input[type=text] {
          border: 0;
          background-color: #d5dbe4;
          padding: 8px 12px;
          border-radius: 20px;
          width: 80%; }
        #main-container #feed-posts .post-comments .comments-form form input:focus {
          outline: none; }
        #main-container #feed-posts .post-comments .comments-form form input[type=submit] {
          border: 0;
          background-color: #1A4CFF;
          color: white;
          padding: 6px 12px;
          border-radius: 15px;
          font-size: 16px;
          cursor: pointer; }
      #main-container #feed-posts .post-comments .color {
        color: #FFFFFF;
        background-color: midnightblue;
        border-radius: 50%;
        font-size: 10px;
        padding: 4px; }
    #main-container #feed-posts .post-comments-list ul {
      list-style: none; }
    #main-container #feed-posts .post-comments-list .comment-details {
      margin: 10px 5px;
      display: inline-block;
      background-color: lightgray;
      padding: 10px 15px;
      border-radius: 6px; }
    #main-container #feed-posts .post-comments-list .cmt-clr {
      text-decoration: none;
      color: gray;
      font-weight: 700;
      font-size: 14px;
      margin-right: 14px; }
    #main-container #feed-posts .post-comments-list .comment-like {
      color: gray; }
  #main-container #user-friends {
    width: 22%;
    /* width */
    /* Track - whether this scrollbar is scroll*/
    /* Handle - scrollbar inside thumb scrolling*/
    /* Track - whether this scrollbar is scroll*/
    /* Handle - scrollbar inside thumb scrolling*/ }
    #main-container #user-friends #friends-container::-webkit-scrollbar {
      width: 8px; }
    #main-container #user-friends #friends-container::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px gray;
      border-radius: 8px; }
    #main-container #user-friends #friends-container::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 10px; }
    #main-container #user-friends #friends-container {
      height: 30vh;
      overflow-y: hidden;
      display: flex;
      flex-direction: column; }
      #main-container #user-friends #friends-container .user-friend {
        display: flex;
        margin: 10px; }
        #main-container #user-friends #friends-container .user-friend img {
          border-radius: 50%; }
        #main-container #user-friends #friends-container .user-friend p {
          margin-left: 10px; }
    #main-container #user-friends #friends-container:hover {
      overflow-y: scroll; }
    #main-container #user-friends #user-container::-webkit-scrollbar {
      width: 8px; }
    #main-container #user-friends #user-container::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px gray;
      border-radius: 8px; }
    #main-container #user-friends #user-container::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 10px; }
    #main-container #user-friends #user-container {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      height: 50vh; }
      #main-container #user-friends #user-container div {
        display: flex;
        margin: 10px 5px; }
        #main-container #user-friends #user-container div img {
          border-radius: 50%; }
        #main-container #user-friends #user-container div p {
          margin-left: 5px; }
    #main-container #user-friends #user-container:hover {
      overflow-y: scroll; }
    #main-container #user-friends a {
      text-decoration: none;
      color: black; }
