#sign-up-container {
  background: linear-gradient(to right, #EFC98F, #D99BD9);
  padding: 20px;
  padding-bottom: 20px; }
  #sign-up-container #sign-up-page {
    display: flex;
    width: 75%;
    margin: auto;
    background-color: white;
    border-radius: 10px; }
    #sign-up-container #sign-up-page #img-container {
      width: 36%;
      background-color: #F4D184;
      border-radius: 10px 0px 0px 10px;
      padding: 2px; }
      #sign-up-container #sign-up-page #img-container div {
        margin-left: 20px; }
      #sign-up-container #sign-up-page #img-container p {
        font-family: 'Pacifico', cursive; }
    #sign-up-container #sign-up-page #sign-up-form {
      width: 50%;
      margin: auto;
      padding: 30px 0px;
      padding-left: 15%; }
      #sign-up-container #sign-up-page #sign-up-form h2 {
        margin-top: 4px; }
      #sign-up-container #sign-up-page #sign-up-form #authenticate {
        display: flex;
        width: 80%;
        margin: auto; }
        #sign-up-container #sign-up-page #sign-up-form #authenticate p {
          margin: 5px; }
        #sign-up-container #sign-up-page #sign-up-form #authenticate .google {
          background-color: #e00a0a; }
        #sign-up-container #sign-up-page #sign-up-form #authenticate .facebook {
          background-color: #183153; }
          #sign-up-container #sign-up-page #sign-up-form #authenticate .facebook i {
            padding: 0px 3px; }
        #sign-up-container #sign-up-page #sign-up-form #authenticate a {
          padding: 10px;
          color: white;
          margin-right: 30px;
          border-radius: 50%; }
      #sign-up-container #sign-up-page #sign-up-form #sign-up div {
        margin: 25px 0px; }
        #sign-up-container #sign-up-page #sign-up-form #sign-up div .border-bottom {
          width: 29px;
          border: 1px solid #D94DF4;
          margin: -5px 0px 12px; }
        #sign-up-container #sign-up-page #sign-up-form #sign-up div i {
          border-bottom: 1px solid gray;
          color: #D94DF4;
          width: 80%; }
        #sign-up-container #sign-up-page #sign-up-form #sign-up div input {
          width: 94%;
          border: 0;
          font-size: 15px;
          padding: 8px; }
        #sign-up-container #sign-up-page #sign-up-form #sign-up div input:focus {
          outline: none; }
        #sign-up-container #sign-up-page #sign-up-form #sign-up div p {
          margin: 5px 0px;
          color: gray; }
      #sign-up-container #sign-up-page #sign-up-form #btn {
        width: 275px;
        color: white;
        background: linear-gradient(to left, #E440F6, #71C4E1);
        margin-left: 12px;
        border: 0;
        font-size: 16px;
        padding: 7px;
        border-radius: 20px;
        margin-top: 15px;
        cursor: pointer; }
  @media screen and (max-width: 1200px) {
    #sign-up-container #sign-up-page {
      width: 85%; }
      #sign-up-container #sign-up-page #sign-up-form #sign-up i {
        width: 100%; } }
  @media screen and (max-width: 950px) {
    #sign-up-container #sign-up-page #sign-up-form {
      padding-left: 5%; }
      #sign-up-container #sign-up-page #sign-up-form #btn {
        width: 70%; }
      #sign-up-container #sign-up-page #sign-up-form #sign-up div i {
        width: 90%; } }
  @media screen and (max-width: 800px) {
    #sign-up-container #sign-up-page #sign-up-form {
      padding-left: 5%;
      width: 75%; }
      #sign-up-container #sign-up-page #sign-up-form #sign-up div i {
        width: 90%; } }
  @media screen and (max-width: 600px) {
    #sign-up-container #sign-up-page {
      width: 95%; }
      #sign-up-container #sign-up-page #img-container {
        display: none; }
      #sign-up-container #sign-up-page #sign-up-form {
        padding-left: 1%;
        width: 70%; }
        #sign-up-container #sign-up-page #sign-up-form #sign-up div i {
          width: 100%; } }
