#sign-up-container {
  background: linear-gradient(to right, #EFC98F, #D99BD9);
  height: 87%;
  margin-top: -6%;
  padding-top: 6%;
  padding-bottom: 20px; }
  #sign-up-container #sign-up-page {
    display: flex;
    width: 75%;
    margin: auto;
    background-color: white;
    border-radius: 10px; }
    #sign-up-container #sign-up-page #img-container {
      width: 36%;
      background-color: #F4D184;
      border-radius: 10px 0px 0px 10px;
      padding: 2px; }
      #sign-up-container #sign-up-page #img-container div {
        margin-left: 20px; }
      #sign-up-container #sign-up-page #img-container p {
        font-family: 'Pacifico', cursive; }
    #sign-up-container #sign-up-page #sign-up-form {
      width: 50%;
      margin: auto;
      padding-left: 15%; }
      #sign-up-container #sign-up-page #sign-up-form div {
        margin: 18px 0px; }
        #sign-up-container #sign-up-page #sign-up-form div .google {
          background-color: red; }
        #sign-up-container #sign-up-page #sign-up-form div .facebook {
          background-color: #183153; }
          #sign-up-container #sign-up-page #sign-up-form div .facebook i {
            padding: 0px 3px; }
        #sign-up-container #sign-up-page #sign-up-form div a {
          padding: 10px;
          color: white;
          margin-right: 30px;
          border-radius: 50%;
          box-shadow: 0px 0px 4px 1px grey; }
        #sign-up-container #sign-up-page #sign-up-form div input {
          width: 70%;
          border: 0;
          background-color: #e4e9ed;
          font-size: 15px;
          padding: 8px;
          border-radius: 5px; }
        #sign-up-container #sign-up-page #sign-up-form div input:focus {
          outline: none; }
        #sign-up-container #sign-up-page #sign-up-form div h4 {
          margin: 8px 0px; }
      #sign-up-container #sign-up-page #sign-up-form #btn {
        width: 100px;
        color: white;
        background-color: #e91e63;
        border: 0;
        font-size: 16px;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer; }
